:root {
    --arrow-size: 12px;
    --arrow-border: solid 4px;
}

.arrow {
    display: inline-block;
    width: var(--arrow-size);
    height: var(--arrow-size);
    margin: var(--arrow-size);
    border-top: var(--arrow-border);
    border-right: var(--arrow-border);
}

.arrow.right {
    transform: rotate(45deg);
}

.arrow.down {
    transform: rotate(135deg);
}

.arrow.left,
.arrow-circle.left {
    transform: rotate(225deg);
}

.arrow.up {
    transform: rotate(315deg);
}






