:root {
    /* Font Sizes */
    --font-size-normal: 1.1rem;
    --font-size-small: .6rem;

    /* Colors */
    --color-primary: #ffffff;
    --color-secondary: #3f88bf;
    --color-tertiary: #c2c1c1;
    --color-quaternary: #000000;
    --color-gray: #e9e9e9;
    --color-selection: #ff9300;
    --color-hover: #ff95008e;
    --color-success: #aadaff7c;
    --color-error: #f20707;
    
    /* Layout Sizes */
    --menu-size: 6vh;
    --content-height: 94vh;
    --content-width: 100vw;
    
    /* Timing */
    --transition-wait: 0s
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    list-style-type: none;

    /* no seleccionable */
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    font-family: Arvo;

}





picture[name*="logo"] {
    background-repeat: no-repeat;
    background-size: 350%;
}


picture[name="logo-module"] {
    filter: grayscale(100%) opacity(40%);
    padding: 9vh;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}