.delete-tab {
    position: absolute;
    top: 0;
    right: 0;
    /* Ajusta la posición a la derecha */
    width: 0;
    /* Inicialmente, la pestaña no se muestra */
    height: 100%;
    background-color: red;
    /* Color de la pestaña */
    transition: width 0.2s;
    /* Agrega una transición para animar el ancho */

    display: flex;
    justify-content: center;
    align-items: center;

}

.delete-tab::before {
    content: "";
    background-color: white;
    width: 30px;
    height: 10px;

}