:root {
    --field-width: 100vw;
    --field-height:7.5em;
    /* --field-height:7.5em; */
}

fieldset.normal {
    background: var(--col-pri);
    /* border-color: var(--col-gra); */
    border-radius: .4em;
    /* width: auto; */
    min-width: 49%;
    min-height: var(--field-height);
    flex: auto;
    /* margin: .2em; */
    /* margin: 2vw; */
    margin: .5vh .5vw .5vh .5vw;
    /* margin-bottom: .5em; */

    /* display: flex; */
    /* align-items: center; */
    padding: 1em 1em .5em 1em;
}

fieldset.normal[data-err] {
    position: relative;
}

fieldset.normal[data-err]::before {
    content: attr(data-err);
    position: absolute;
    top: 0;
    right: 0;
    color: var(--col-err);
    font-size: var(--font-size-small);
    padding-right: 5px;
}


.all-width {
    width: 100%;
    min-width: 100%;
}

.width-auto{
    max-height: 5em;
}

.border{
   border-color: var(--col-gra); 
}



fieldset.normal input {
    margin-top: var(--mag-sec);
}


fieldset.normal:focus-within,
fieldset.normal:focus-visible {
    box-shadow: 0px 0px 3px 1px var(--col-select) inset;
}


fieldset.normal:disabled {
    background-color: var(--col-gra);
    pointer-events: none;
}

fieldset.file:hover,
fieldset.normal:hover {
    /* border: 2px solid var(--col-sec); */
    /* box-shadow:0px 0px 3px 1px var(--col-sec) inset; */
    box-shadow: 0px 0px 3px 1px var(--col-select) inset;
}

legend.basic-legend {
    font-size: .8rem;
    background: var(--col-sec);
    border-color: var(--col-pri);
    border-radius: .4em;
    padding: 0em .5em .3em .5em;
    /* margin-bottom: .3em; */
    /* margin-left: 1.5em; */
}

legend.basic-legend label {
    color: var(--col-pri);
    text-shadow: 1px 1px var(--col-cua);
}


legend.basic-legend:hover {
    background-color: var(--col-select);
}





/************ DESKTOP ************/
@media only screen and (orientation: landscape) and (hover: hover) {
    :root {
        --field-width: 63vw;
    }

    fieldset.normal {
        /* padding: .7em 1em 0em 1em; */
    }


}